.hero--about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 7%;
    height: auto;
}

.hero--about-us img {
    max-width: 40%;
    height: auto;
    border-radius: 24px;
    margin-bottom: 40px;
}

.hero--about-us__text {
    max-width: 80%;
    color: var(--text-color);
    font-size: var(--h5-size);
    font-family: var(--font-family-tertiary);
    line-height: 1.6;
}

.about-us {
    padding: 7% 7% 20% 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-us__content {
    max-width: 100%;
    position: relative;
}

.about-us__content img {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-self: center;
}

.card {
    width: 400px;
    position: absolute;
    background-image: radial-gradient(
        circle at center,
        rgba(30, 205, 255, 0.2),
        rgba(30, 205, 255, 0.3),
        rgba(30, 205, 255, 0.6),
        rgba(30, 205, 255, 0.8)
        );
    padding: 32px;
    border-radius: 24px;
}

.card.history { 
    top: -100px; 
    left: -60%; 
}
.card.mission {
    top: -70px;
    left: 100%;
}
.card.team {
    top: 300px;
    left: -80%;
}
.card.approach {
    top: 80%;
    right: -50%;
}

.card h3 {
    font-size: var(--h2-size);
    font-family: var(--font-family-secondary);
    margin-bottom: 10px;
}

.card p {
    color: var(--text-color);
    font-size: var(--paragraf-size);
    font-family: var(--font-family-tertiary);
    line-height: 1.6;
}

@media (max-width: 768px) {
    .about-us {
        padding: 60px 15px;
    }
    
    .about-us__content {
        font-size: 1rem;
    }
    
    .about-us__section h3 {
        font-size: 1.4rem;
    }
}
