@keyframes floatNote {
    0% {
        opacity: 0.5;
        transform: translateY(0) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-10vh) rotate(180deg);
    }
}

@keyframes partyRight {
    0% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(25deg);
    }
}

@keyframes showLights {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes partyLeft {
    0% {
        transform: rotate(-35deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(-35deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
        transform-origin: center;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 5px rgba(30, 205, 255, 0.5));
    }
    50% {
        transform: scale(1.2);
        filter: drop-shadow(0 0 30px rgba(30, 205, 255, 1));
        
    }
    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 5px rgba(30, 205, 255, 0.5));
    }
}

@keyframes shakeScale {
    0% { 
        transform: scale(1);
        filter: drop-shadow(0 0 10px rgba(30, 205, 255, 0.5));
    }
    25% { 
        transform: scale(1.1);
        filter: drop-shadow(0 0 20px rgba(30, 205, 255, 0.8));
    } 
    30% { 
        transform: scale(1.2) translateX(-5px) rotate(-2deg);
        filter: drop-shadow(0 0 25px rgba(30, 205, 255, 1));
    }
    35% { 
        transform: scale(1.3) translateX(5px) rotate(2deg);
        filter: drop-shadow(0 0 30px rgba(30, 205, 255, 1));
    }
    40% { 
        transform: scale(1.4) translateX(-5px) rotate(-2deg);
        filter: drop-shadow(0 0 35px rgba(30, 205, 255, 1));
    }
    50% { 
        transform: scale(1.5) translateX(5px) rotate(2deg);
        filter: drop-shadow(0 0 40px rgba(30, 205, 255, 1));
    }
    100% { 
        transform: scale(1);
        filter: drop-shadow(0 0 10px rgba(30, 205, 255, 0.5));
    }
}

@keyframes glow {
    0% { box-shadow: 0 0 10px rgba(30, 205, 255, 0.6); }
    50% { box-shadow: 0 0 40px rgba(30, 205, 255, 0.8); }
    100% { box-shadow: 0 0 5px rgba(30, 205, 255, 0.4); }
}

@keyframes float {
    0% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px) scale(3.5);
    }
}

@keyframes shakeString {

    0% {
        transform: rotate(-1deg), translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-5px);
        opacity: 0.7;
    }
    100% {
        transform: rotate(1deg), translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}