
/* =========================== Resppnsive Design ============================ */

@media (width<920px) {

    /* === Home page === */
    
    .hero--home {
        flex-direction: column;
        height: auto;
        padding: 10% 7%;
        gap: 0;
    }

    .hero__content {
        height: auto;
        padding: 7% 0;
    }

    /* === instruments page === */

    .hero--instruments {
        padding-top: 200px;
        align-items: center;
    }

    .hero--instruments__content {
        width: 90%;
        gap: 20px;
    }

    .hero--instruments h1 {
        color: var(--text-color);
    }

    .hero--instruments p {
        font-size: var(--h5-size);
    }

    .hero--instruments a {
        font-size: var(--h5-size);
        color: var(--text-color);
    }

    .icon[data-tooltip] {
        display: none;
    }

    .instruments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .instruments .instruments__title {
        font-size: var(--h3-size);
        padding-top: 40px;
    }

    .instrumentsBox {
        flex-direction: row;
        position: relative;
    }

    .icon {
        position: relative;
        font-size: 30px;
        padding: 7px;
        animation-play-state: paused;
    }

    .icons-container {
        position: absolute;
        height: 100%;
        width: 350px;
        left: -130px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .icon-box {
        position: relative;
    }

    input[type="radio"] {
        display: none;
    }

    #infoSpan1, #infoSpan2, #infoSpan3, #infoSpan4, #infoSpan5, #infoSpan6  {
        opacity: 0;
        position: absolute;
        width: 250px;
        left: 220px;
        top: -25px;
        background-image: linear-gradient(to right, rgb(255, 64, 129), rgb(30, 144, 255), rgb(50, 205, 50));
        color: var(--text-color);
        padding: 20px;
        border-radius: 24px;
        font-size: var(--paragraf-size);
        font-family: var(--font-family-tertiary);
        font-weight: bold;
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease, scale 0.3s ease;
        transform: translateY(10px) scale(0.9);
    }

    #toggle1:checked + #infoSpan1,
    #toggle2:checked + #infoSpan2,
    #toggle3:checked + #infoSpan3,
    #toggle4:checked + #infoSpan4,
    #toggle5:checked + #infoSpan5,
    #toggle6:checked + #infoSpan6  {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    /* === Piano page === */
    
    .piano {
        height: 250px;
        padding: 60px 40px 0 40px;
    }

    .piano__key--white {
        width: 45px;
    }

    .piano__key--black {
        height: 130px;
        width: 28px;
    }

    .piano__key--black:active {
        height: 131px;
    }

    .a, .g, .f, .d, .c {
        margin: 0 0 0 -11px;
    }

    .instrument--guide {
        padding: 100px 0 100px 0;
    }

    .instructions {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .instructions__img {
        width: 60%;
    }

    .instructions div {
        width: 100%;
    }

    .instructions__title {
        font-size: var(--h3-size);
        margin-bottom: 50px;
    }

    .piano--btn a {
        margin-top: 50px;
        font-size: var(--paragraf-size);
    }

    #mobile-play {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    /* === Home page === */

    .light.light--right-1, .light.light--left-1 {
        top: 0px;
    }

    .hero__content h1 {
        font-size: var(--h2-size);
        line-height: 1.3;
    }

    .hero__content p {
        font-size: var(--paragraf-size);
    }

    .hero__content a {
        font-size: var(--h5-size);
    }

    .home-instruments__list {
        flex-direction: column;
    }

    .home-instruments h1 {
        font-size: var(--h2-size);
        line-height: 1.3;
    }

    .home-instruments p {
        font-size: var(--h4-size);
    }

    .home-instruments__list {
        gap: 10px;
        padding: 20% 5%;
    }

    .home-instruments__list article {
        padding: 10% 0;
    }

    /* === Instruments page === */

    .hero--instruments__content {
        gap: 10px;
    }

    .hero--instruments h1 {
        font-size: var(--h3-size);
        line-height: 1.1;
    }

    /* === aboutUs page === */

    .hero--about-us {
        padding: 180px 7% 80px 7%;
    }
    
    .hero--about-us img {
        width: 80%;
    }

    .hero--about-us__text {
        max-width: 100%;
        line-height: 1.3;
        font-size: var(--paragraf-size);
    }

    .about-us {
        padding: 7%;
    }

    .about-us__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        position: static;
        width: 90%;
        max-width: 400px;
        margin: 20px 0;
        text-align: center;
    }

    .card h3 {
        font-size: var(--h3-size);
        line-height: 1.3;
    }
    .card p {
        color: var(--text-color);
        font-size: var(--paragraf-size);
        font-family: var(--font-family-tertiary);
        line-height: 1.3;
    }
}

@media (width<768px) and (orientation: portrait) {

    .rotate_screen {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        z-index: 90;
        color: var(--text-color);
        font-size: var(--h1-size);
        font-family: var(--font-family-primary);
    }

}

@media (width<768px) and (orientation: landscape) {
    
    header {
        position: relative;
    }

    .hero--bass, .hero--piano{
        padding:  2% 0;
    }
    .hero--piano h1 {
        margin-bottom: 0;
    }
}