/* HOME */

/** {
    border: 1px solid red;
}*/

.hero-section { 
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 100px;
    background-image: url("/Toquen-el-Dom.-Music-School/src/imgs/hero_Img.png");
    /*background-image: url("/src/imgs/hero_Img.png");*/
    background-size: contain;   
    background-position: right; 
    background-repeat: no-repeat;     
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(18, 18, 18, 0), rgba(18, 18, 18, 0), rgba(18, 18, 18, 0), rgba(18, 18, 18, 0), rgba(51, 152, 255, 0.1), rgba(18, 18, 18, 0));
}

.hero-section div {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 100;
}

.hero-section h1 {    
    font-family: var(--font-family-primary);    
    color: var(--text-color);   
    font-size: var(--h1-size);
    text-align: center;
    opacity: 0;
    transform: translateX(-500px);
    animation: moveRight 1.5s ease-out forwards;
    animation-delay: 0s; 

}

.hero-section h1 span {
    color: transparent;
    background: linear-gradient(
        to bottom right,
        var(--primary-color),
        var(--accent-color),
        var(--secondary-color),
        var(--tertiary-color),
        var(--queternary-color)
    );
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-section p {
    font-family: var(--font-family-primary);    
    color: var(--text-color);   
    font-size: var(--h3-size);
    text-align: center;
    opacity: 0;
    transform: translatex(-500px);
    animation: moveRight 1.5s ease-out forwards;
    animation-delay: 0.5s; 
}

.hero-section a {    
    font-family: var(--font-family-tertiary);  
    font-size: var(--h4-size);
    background-color: var(--tertiary-color);
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 1.1rem 3rem;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.3s ease;
    z-index: 100;
    opacity: 0;
    transform: translateY(40px);
    animation: moveUp 1.5s ease-out forwards;
    animation-delay: 1s;
}

@keyframes moveUp {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-section a:hover {
    background-color: var(--accent-color);
    transform: translateY(-5px);
}

.musicians-section {    
    width: 100%; 
    display: flex;  
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 200px 50px; 
    gap: 100px;
}

.musicians-section h1 {
    color: var(--primary-color);
    font-family: var(--font-family-primary); 
    font-size: var(--h1-size);
    margin: 0;
    text-align: center;
}

.card-container {
    width: 100%;
    gap: 5%;
    display: flex;  
    justify-content: center;
    align-content: space-between;
}

/* Contenedor de la tarjeta */
.card {
    width: 300px;
    height: 380px;
    perspective: 1000px; /* Profundidad para el efecto 3D */
    z-index: 100;
}

/* Estructura interna de la tarjeta */
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

/* Lados de la tarjeta */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    backface-visibility: hidden; /* Oculta el lado trasero al girar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 20px;
    border: 5px solid var(--secondary-color);
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

  /* Estilos de cada lado */
.card-front {
    padding: 40px;
    font-family: var(--font-family-primary);
}

.card-front img {
    width: 100%;
    border-radius: 50%;
}

.card-back {
    text-align: center;
    font-family: var(--font-family-tertiary);
    background-color: var(--secondary-color);
    transform: rotateY(180deg); /* Inicialmente volteado */
}

/* Efecto hover */
.card:hover .card-inner {
    transform: rotateY(180deg);
}

.instruments-section {
    width: 100%; 
    display: flex;  
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    gap: 40px;
}

.instruments-section h2 {
    color: var(--primary-color);
    font-family: var(--font-family-primary); 
    font-size: var(--h1-size);
    margin: 0;
}

.instruments-section h4 {
    color: var(--secondary-color);
    font-family: var(--font-family-secondary); 
    font-size: var(--h2-size);
    margin: 0;
    text-align: center;
}

.instruments-section div {
    width: 100%;
    gap: 50px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 50px 0; 
}

.instruments-section div article {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly; 
    width: 100%; 
    height: auto; 
    padding: 50px 0;
    gap: 50px;
    z-index: 100;
    background: none;
    /*background: linear-gradient(180deg, #121212, #1E90FF,#121212);*/
}

.instruments-section h3 {
    color: var(--text-color);
    font-family: var(--font-family-primary); 
    font-size: var(--h2-size);
    margin: 0;
}

.instruments-section img {
    width: 50%;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instruments-section article:hover img {
    
    transform: scale(1.1);
    box-shadow: 0px 0px 20px var(--primary-color);
}

.instruments-section a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 15px 40px;
    border-radius: 30px;
    background: linear-gradient(135deg, var(--primary-color), var(--accent-color));
    color: var(--text-color);
    font-family: var(--font-family-primary);
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.instruments-section a i {
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.instruments-section a:hover {
    box-shadow: 0px 0px 20px var(--accent-color);
    transform: scale(1.1);
}

.instruments-section div article a:hover i {
    transform: rotate(360deg);
}

.instruments-section div article a i:active {
    transform: scale(1);
}

/* Contenedor de las notas */
.background-notes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que no interfiera con los clics */
    overflow: hidden;
    z-index: -1;
}

/* Estilos base para las notas */
.music-note {
    position: absolute;
    font-size: 1.5rem;
    opacity: 0.5;
    animation: floatNote 10s ease-in infinite;
}

/* Animación de flotación */
@keyframes floatNote {
    0% {
        opacity: 0.5;
        transform: translateY(0) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-10vh) rotate(180deg);
    }
}



/* pantalla mobile init */

@media (width<900px) {

    .hero-section {
        justify-content: start;
        padding: 220px 50px;
    }

    .card {
        height: 440px;
    }

    .instruments-section {
        padding: 100px 0;
        gap: 40px;
    }

}

@media (width<700px) {

    .instruments-section div { 
        flex-direction: column; 
    }
    
    .instruments-section  div{
        gap: 100px;
    }

}

@media screen and (max-width: 430px) {

    .hero-section {
        background-image: none;
        background-size: 80%;
        background-position: bottom right;
        padding: 150px 50px 0 30px;
    }

    .hero-section::before {
        height: 80%;
    }

    .hero-section h1 {    
        font-family: var(--font-family-primary);    
        color: var(--text-color);   
        font-size: var(--h2-size);
        text-align: left;
    }

    .hero-section a {
        font-size: var(--paragraf-size);
        padding: 1rem 1.2rem;
    }

    .musicians-section {    
        padding: 150px 30px; 
        gap: 70px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .card {
        height: 380px;
    }

}

/* pantalla mobile  end */